body{
    background: purple;
    display: flex;
    flex-direction:column ;
    min-height: 100vh;
    color: whitesmoke;
}
header{
    padding: 10px 5px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-family: sans-serif;
    font-weight: 500;
    color: grey;
    margin-bottom: 10px;
}

#new-task-form{
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color: rgb(57, 21, 49);
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 16px;
}

#new-task-submit{
    color: pink;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
#new-task-submit::hover{
    opacity: 0.7;
}
#new-task-submit::active{
    opacity: 0.5;
}


.added-items{
    background: linear-gradient(hsl(293, 100%, 63%),hsl(264, 100%, 61%) );
    flex: 1 1 0%;
    padding: 10px 5px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.tasks{
    padding: 10px;
}
.tasks h2{
    font-size:16px ;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.task{
    display: flex;
    justify-content: space-between;
    background-color: rgb(181, 22, 22);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.task .content .text{
    color: whitesmoke;
    font-size: 14px;
}

.task .buttonfeatures{
    display: flex;
}
.task .buttonfeatures button{
    cursor: pointer;
    font-size:14px ;
    font-weight: 800;
}
